<html th:replace="base::layout(~{::section})">
<head>

</head>
<body>
<section>
  <div class="container-fluid">
   <div class="row">
    <div class="col-sm-12 p">
    <h1 class="text-white text-center my-5">About Us </h1>
    </div>
    <div class="col-sm-1 mt-5"></div>
    <div class="col-md-2  mt-5 x">
      <div class="side_nav  ">
  <h3>About Us</h3>
  <ul class="list-unstyled ">
    <li >From Chairman Desk</a></li><br>
    <li>Vision &amp; Mission</a></li><br>
    <!--<li><a href="https://pgi.edu.in/">Our Success Journey</a></li>-->
    <li>Why PGI</a></li><br>
    <li>Our Campus</a></li><br>
    <li>Jaunpur at a Glance</a></li><br>
    <li>Governing Body</a></li><br>
    <li>Advisory Board</a></li> 
  </ul>
</div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-8 mt-5">
    <img src="img/main_pic.jpg" alt="">
  </div>

  <div class="col-sm-1 mt-5"></div>
  <div class="col-sm-2 mt-5 x">
    <h2> Chairman's Desk</h2>
    <img src="img/Chairman-Message.jpg" class="w-100" alt="">
    <h3 class="text-center  mt-2" style="color:black">Er. B.P Yadav
      <h6 class="text-center" style="color:black"><p>Chairman</p></h6>
    </h3>
  </div>
  <div class="col-sm-1 mt-5"></div>
  <div class="col-sm-8 mt-5">
   <h5> <p>India is bestowed with the largest knowledge and skilled manpower in the world which is crucial for it to become a super power. For this, it is essential that centers of excellence are created where a conducive environment is available for students and teachers to pursue their education and develop their skills. Prasad Education Trust endeavors to achieve the above objective by setting up a number of quality Institutions at various locations. Prasad Institute of Technology, Jaunpur is one such facility.
<br><br><br>
      This institution will provide an ideal opportunity not only to urban also to rural society to develop their skills and pursue their knowledge in a disciplined environment with the help of well qualified, trained and experienced faculty. We are committed to build this institute which will shape its students into future managers and engineers par excellence for tomorrow’s need. We emphasize on ensuring the right corporate and technical exposure. Prasad Institute of Technology, Jaunpur will provide you an academic environment which will help you to develop vision values and social responsibilities for a rewarding future. We invite you to be part of this endeavor.</p>
    </h5>
  </div>
   </div>
   </div>

</section>
</body>
</html>