<html  xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>

</head>
<body>
<section>
<h1 class="text-center text-primary">Admin Login</h1>
	<div th:if="${message}">
  				<p th:text="${message}" class="alert alert-danger alert-dismissible"></p>
  			</div>
<form action="" method="post" th:object="${dto}">
 <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="userid" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
     </div>
      <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password"  class="form-control" required>
  </div>
   <button type="submit" class="btn btn-primary">Submit</button>
  
</form>
</section>
</body>
</html>