<html  xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>

</head>
<body>
<section>
   <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 mt-4 ">
            <h1 class="text-center text-primary ">GALLERY</h1>
        </div>
        <div class="col-sm-12 mt-4 text-center">
           <img src="img/g1.jpg" alt="" height="500px" width="500px">
           <img src="img/g2.jpg" alt="" height="500px" width="500px">
           <br>
         
        </div>
        <div class="col-sm-12 mt-2 text-center">
           
            <img src="img/g3.jpg" alt="" height="500px"  width="500px">
            <img src="img/g4.jpg" alt="" height="500px"  width="500px">
            <br  class="mt-2">
            <img src="img/g5.jpg" alt="" height="500px" width="500px">
       
         </div>
    </div>
   </div>

</section>
</body>
</html>